.Login {
    text-align: center;
  }

.Login-main {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

.Login-card {
    background-color: #fff;
    border-radius: 15px;
    padding: 0.8rem;
}

.Login form {
    display: flex;
    flex-direction: column;
}

.Login-entry {
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    margin-bottom: 2rem;
    height: 20px;
    width: 16rem;
    border: 1px solid grey;
}

.Login-card label {
    color: rgb(44, 43, 43);
    font-size: calc(10px + 2vmin);
}

.Login-card h1 {
    color: rgb(44, 43, 43);
    font-size: calc(10px + 2vmin);
}

.Login #Login-submit {
    width: 200px;
    height: 50px;
    margin: 30px;
    padding: 10px 50px;
    background-color: rgb(133, 130, 130);
    border-radius: 50px;
    border-width: 0px;
    color: white;
    font-size: 20px;
    opacity: 0.6;
    transition-duration: 0.3s;
}

.Login #Login-submit:hover {
    width: 210px;
    height: 60px;
    margin: 30px;
    padding: 10px 50px;
    opacity: 1;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.Login #Login-submit:active {
    cursor: pointer;
    background-color: rgb(39, 37, 37);
}